.header {
  background-color: #171718;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
}
.logoContainer {
  display: flex;
  width: 200px;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding-left: 20px;
}

.logoContainer > a {
  color: aliceblue;
  text-decoration: none;
  font-size: 24px;
}
.headerItems {
  display: flex;
  flex: 1.5 1;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-right: 20px;
}
.headerItems > ul {
  list-style: none;
  display: flex;
}

.headerItems > ul > li {
  margin: 0px 0px 0px 35px;
  color: aliceblue;
  font-size: 24px;
}
